name: CMake Ubuntu

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install Conan
      id: conan
      uses: turtlebrowser/get-conan@main
      with:
        version: 2.0.17

    - name: Conan version
      run: echo "${{ steps.conan.outputs.version }}"

    - name: Conan Profile Install
      run: conan config install ${{github.workspace}}/.github/conan/release -tf=profiles

    - name: Run Conan
      run: conan install . -b missing --profile:build=release

    - name: Configure CMake
      run: cmake --preset conan-release

    - name: Build
      run: cmake --build --preset conan-release

    - name: Conan Create
      run: conan create . -b missing --profile:build=release

    - name: Archive Build
      uses: actions/upload-artifact@v4
      with:
        name: build
        path: ${{github.workspace}}/build/

    - name: Run Sample
      working-directory: ${{github.workspace}}/build
      run: ./Release/sample

    - name: Test
      working-directory: ${{github.workspace}}/build/Release
      run: ctest -C --output-on-failure
